{% extends "app/layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="jumbotron">
    <h1>Sockr(kaka)</h1>
    <p class="lead">Your friend when learning how to make delicious baking recpies in code.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Sockr is connected via LTU:s Central Authentication Service, so you can get started right now, just by logging in.
            Then you can visit any course, upload some code, and get it tested right away.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Not just D0009E</h2>
        <p>Sockr's testing engine allows for almost any language. Get better at Regex, C#, and much more.</p>
    </div>
    <div class="col-md-4">
        <h2>Blank</h2>
        <p>This column only exists for web-designery goodiness that tells us 3 column websites are the future.</p>
    </div>
</div>

{% endblock %}
