{% extends "app/layout.html" %}
{% block title%}Sign in{% endblock %}
{% block content %}

<h2>Sign in</h2>
<hr/>
<div class="row">
    <div class="col-sm-6 text-center">
	    <h3>Sign in via LTU</h3>
	    <p>Sign in using your student or staff user at Luleå University of Technology.</p>
	    <a href="/login/ltu" class="btn btn-large btn-primary visible-xs-inline">Sign in via LTU</a>
    </div>
    <div class="col-sm-6 text-center">
	    <h3>Sign in via LUDD</h3>
	    <p>Sign in using your member account at LUDD, Luleå Academic Computer Society.<br/>
	    LUDD is the maintainer of the Sockerkaka system, and you can become a member and access all benefits for only 100kr per year. Read more <a href="http://www.ludd.ltu.se">here</a>.
	    </p>
	    <a href="/login/ludd" class="btn btn-large btn-primary visible-xs-inline">Sign in via LUDD</a>
    </div>
</div>
<div class="row hide-xs text-center">
	<div class="col-sm-6">
	    <a href="/login/ltu" class="btn btn-large btn-primary">Sign in via LTU</a>
	</div>
	<div class="col-sm-6">
	    <a href="/login/ludd" class="btn btn-large btn-primary">Sign in via LUDD</a>
	</div>
</div>

{% endblock %}


